* {
  font-family: 'Anonymous Pro', monospace;
  color: #fff;
  background: #000;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

section {
  width: 256px;
  margin: 100px auto 0;
}

section canvas {
  display: block;
}

section textarea {
  display: block;
  outline: none;
  border: 2px solid rgba(256, 256, 256, .3);
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 8px;
  margin: 16px 0 0;
  resize: vertical;
  min-height: 100px;
}

section textarea.error {
  border-color: rgba(256, 70, 10, .7);
}

p {
  margin: 16px 0 0;
  font-size: 14px;
  opacity: .5;
  cursor: default;
}

p:hover {
  opacity: .7;
}


