body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Anonymous Pro', monospace;
  color: #fff;
  background: #000;
}

section {
  margin: 100px 0 0;
}

section canvas {
  display: block;
  margin: 0 auto;
}

section select {
  margin: 16px auto 0;
  width: 256px;
  display: block;
}

section textarea {
  display: block;
  outline: none;
  border: 2px solid rgba(256, 256, 256, .3);
  border-radius: 2px;
  width: 256px;
  box-sizing: border-box;
  padding: 4px 8px;
  margin: 16px auto 0;
  resize: vertical;
  min-height: 100px;
}

section textarea.error {
  border-color: rgba(256, 70, 10, .7);
}

pre {
  margin: 16px auto 0;
  font-size: 14px;
  color: #555;
  cursor: default;
  text-align: left;
  display: inline-block;
}

div {
  text-align: center;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
